.imagen {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
}

.contenedor {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: calc(100vh - 270px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    width: 25px;
    height: 25px;
    color: #275F08;
    margin: 0 0 4px 0;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: black;
    color: white;
    font-size: 0.875rem; /* text-sm */
    padding: 0.25rem 0.5rem; /* px-2 py-1 */
    border-radius: 0.25rem; /* rounded */
    opacity: 0;
    transition: opacity 0.3s;
}

.group:hover .tooltip {
    opacity: 1;
}
