.video{
    width: 100%;
    height: 100%;
}
.active {
    background-color: #275F08; /* Color de fondo cuando está activo */
    color: white; /* Color de texto cuando está activo */
}






.reproductor{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contenedor{
    /*min-height: calc(100vh - 132px);*/
    height: 100vh;
}
@media (max-width: 1000px) {
    .contenedor{
        flex-direction: column;
    }
}
.contImg{
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1640px){
    .navLateral{
        display: none;
    }
}

.icono{
    width: 30px;
    height: 30px;
}
/**/
