.caracteristicas{
    display: flex;
    flex-wrap: wrap;
}
.imagenesCaracteristicas{
    min-width: 50px;

}
.tamano{
    flex: 0.3;
}
.imagenSubida{
    width: 300px;
    height: 300px;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    margin-top: 30px;
}
@media (max-width: 900px){
    .grilla{
        grid-template-columns: 1fr;
    }
    .contenedorFotoGrilla{
        flex-direction: column;
    }
    .imagenSubida{
        width: 100%;

    }
}
.contenedorFotoGrilla{
    padding: 30px 0;
}

