.contenedorEspacio{
    max-width: 1108px;
    width: 80%;
    background-color: #EFE8D6;
    margin: 30px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
}

.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #88BC43;
    width: 80%;
    margin: 0 auto;
}


.ubicacion{
    background-color: #D9D9D9;
    padding: 10px 20px;
    border-radius: 5%;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.29);
}
.subTitulo{
    width: 100%;

}
.contenido{
    width: 100%;
    padding: 20px 0;
}

/*----------------------------------sol----------------------------------*/
.tipoSol{
    background-color: white;
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 0 50px;
    padding: 20px 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
}

.iconosLuz{
    width: 50px;
    height: 50px;
}


.botonContenedor{
    max-width: 1108px;
    width: 70%;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: flex-end;

}
.boton{
    background-color: #88BC43;
    color: white;

}








