.contenedor {
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .contenedorImagen {
        width: 700px;
        height: 100%;
    }
}

ol.listNumber li::marker {
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 640px) {
    ol.listNumber li::marker {
        font-size: 25px;
    }
}