.contenedor {
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .contenedorImagen {
        width: 700px;
        height: 100%;
    }
}

.list-number::marker {
    font-weight: bold;
}