.contenedor {
    width: 70%;
    max-width: 1300px;
    margin: 45px auto;
}

.iconos {
    width: 25px;
    height: 25px;
    color: white;
}

/***Sidebar***/


/***Sidebar***/
/*****/

.contenedorPlantas {
    max-width: 1800px;
    min-height: calc(100vh - 481px);
    margin: 0 auto;
}

.contenidoAjustado {
    min-height: calc(100vh - 532px);
}

.imagen {
    height: 250px;
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
}

/*****/
.popup {
    height: 80vh;
}

.imagenADetallePlantas {
    height: 150px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
}

.responsiveImage {
    display: block;
}

@media (min-width: 767px) and (max-width: 895px) {
    .responsiveImage {
        display: none;
    }
}

@media (min-width: 896px) {
    .responsiveImage {
        display: block;
    }
}