.contenedor{
    width: 70%;
    max-width: 1300px;
    margin: 45px auto;
}
.titulo{
    color: #88BC43;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.botones{
    background-color: #88BC43;
    font-size: 20px;
}
.iconos{
    width: 25px;
    height: 25px;
    color: white;
}

/***Sidebar***/




/***Sidebar***/
/*****/



.contenedorPlantas{
    max-width: 1800px;
    min-height: calc(100vh - 481px);
    margin: 0 auto;
}
.contenidoAjustado{
    min-height: calc(100vh - 532px);
}
.tituloContenedor{
    color: #88BC43;
    font-size: 40px;

    font-weight: bold;
}
.plantasJardin{
    font-weight: bold;
    font-size: 25px;
    color: #275F08;
}

.imagen{
    height: 250px;
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
}
/*****/