@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: #FAFFF8;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1, h2 {
    font-size: 35px;
}

h3 {
    color: #275F08;
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
}

p, li{
    font-size: 18px;
}

@media (min-width: 640px) {
    p, li {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    p, li {
        font-size: 21px;
    }
}