.imagenIdentificar {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-color: black;
    border-radius: 0 0 80px 80px;
}

.imagenIdentificar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/jardin-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
}

.contenidoIdentificar {
    position: relative;
    z-index: 1;
    color: white;
    height: 100%;
}

.subirIdentificar{
    border: 2px solid #275F08;
    padding: 10px 20px;
    background-color: #323331;
}
.botonIdentificar{
    background-color: #88BC43;
    color: white;

}
.seleccionarIdentificar{
    font-weight: bold;
    color: #275F08;
}
.textoSubirIdentificar{
    font-weight: bold;
    font-size: 35px;
}
.textoIdentificar{
    font-weight: bold;
    font-size: 40px;
    flex: 1;
}
.marca{
    right: 100%;
    border-radius: 100%;
    flex: 0.1;
    margin-right: 25px;
}
.logoIdentificar{

}
@media (min-width: 1360px){
    .logoIdentificar{

    }
}




/***************/









.fondoCards{
    background-color: #EFE8D6;
    padding: 60px 30px;
    margin: 40px 0;

}

.tituloSecundario{
    font-size: 50px;
    color: #88BC43;
    font-weight: bold;
}
.cards{
    border-radius: 0 50px 0 50px;
    max-width: 230px;
    padding: 40px 20px;
    height: 100%;
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloCards{
    font-size: 20px;
}

.botonCards{
    background-color: #88BC43;
}




/****************Nuestra propuesta****************/
.nuestraPropuesta{

    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
}

.contenidoPropuesta, .imagenPropuesta{
    flex: 1;
    padding: 20px 20px;
}

/***Recomendacion***/
.contenedorPropuesta{
    background-color: #EFE8D6;

    max-width: 1108px;
    margin: 20px auto;
}
.tamanoRecomendacionCards{
    width: 92%;
    height: 100%;
}

.recomendacionCards{
    flex: 1;
}
.imagenes{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 0 50px 0 50px;
}
.tituloCardsRecomendacion{
    font-size: 19px;
}

.cardsPropuesta{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
