.fondoCards{
    background-color: #EFE8D6;
    padding: 60px 30px;
    margin: 40px 0;

}

.tituloSecundario{
    font-size: 50px;
    color: #88BC43;
}
.cards{
    border-radius: 0 50px 0 50px;
    max-width: 250px;
    padding: 40px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.tituloCards{
    font-size: 20px;
}

.botonCards{
    background-color: #88BC43;
}




/****************Nuestra propuesta****************/
.nuestraPropuesta{

    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
}

.contenidoPropuesta, .imagenPropuesta{
    flex: 1;
    padding: 20px 20px;
}

/***Recomendacion***/
.contenedorPropuesta{
    background-color: #EFE8D6;

    max-width: 1108px;
    margin: 20px auto;
}
.tamanoRecomendacionCards{
    width: 92%;
    min-height: 380px;
    min-width: 470px;

}

.recomendacionCards{
    flex: 1;
}
.imagenes{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 0 50px 0 50px;
}
.tituloCardsRecomendacion{
    font-size: 19px;
}
