.contenedor{
    max-width: 1100px;
    margin:  0 auto;
    width: 80%;
}

.fondo {
    background-color: #D1DBC7;
}

@media (max-width: 800px) {
    .subirFoto{
        width: 100%;
    }
    .procesoSubirFoto{
        flex-direction: column;
    }
    .textoProceso{
        width: 100%;
    }
}
