.container {
    height: 120px;
    background-color: #EFE8D6;
}

.nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo {
    color: #88BC43;
}

.ar {
    color: #275F08;
}

.li {
    font-weight: bold;
}

.marca {
    display: flex;
    justify-content: center;
    align-content: center;
}

.campana {
    width: 25px;
    height: 100%;
}

.corona {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%) rotate(50deg);
    width: 30px;
    height: 30px;
}

.liUser {
    position: relative;
}

.infoUsuario {
    width: 45px;
    height: 100%;
    color: #88BC43;
}

.menuR {
    display: none;
}

/**Responsive**/
@media (max-width: 1000px) {
    .container {

        padding: 5px;
    }

    .usuario {
        flex-direction: column;
        display: none;
    }

    .menu {
        display: none;
    }

    .menuR {
        display: flex;
    }

    .menuLateral {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 64px;
        /* Ancho del menú, ajusta según sea necesario */
        background-color: #333;
        /* Color de fondo del menú */
        z-index: 50;
    }

    /* Estilo del contenido del menú */
    .menuContenido {
        background-color: #fff;
        /* Color de fondo del contenido */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        /* Sombra */
    }

    /* Animación de deslizamiento para abrir el menú */
    .abierto {
        transition: transform 0.3s ease-in-out;
        transform: translateX(0);
    }

    /* Animación de deslizamiento para cerrar el menú */
    .cerrado {
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

}

@media (max-width: 475px) {}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    /* h-1 */
    background-color: #275F08;
    /* bg-green-500 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.liu {
    position: relative;
    display: inline-block;
}

.liu:hover .underline {
    transform: scaleX(1);
}