.contenedor{
    max-width: 1300px;
    margin:  0 auto;
}

ol.listNumber li::marker {
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 640px) {
    ol.listNumber li::marker {
        font-size: 25px;
    }
}