.footer {
    background-color: #88BC43;
    min-height: 100px;
    height: 120px;
}


.borde {
    border-right: 1px solid #EFE8D6;
    height: 75%;
}

@media (max-width: 1024px) {
    .borde {
        border: none;
    }
}

.menu li a:hover {
    opacity: 1;
    text-decoration: underline #EFE8D6;
}

.social_icon {
    position: relative;
}

.social_icon li a {
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
}

.social_icon li a:hover {
    transform: translateY(-10px);
}

.iconosRedes {
    width: 25px;
    height: 25px;
    color: #EFE8D6;
}